<td>
	Joe
</td>
<td class="contact-type">
	<%= (model.get('contact_type'))? model.get('contact_type') : "Unset"  %>
</td>
<td>

</td>
<td>
	<a href="#" class="btn btn-primary edit">Edit</a>
	<a href="#" class="btn btn-primary save hide">Save</a>
	<a href="#" class="btn cancel hide">Cancel</a>
</td>
